<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .container {
        width: 400px;
        height: 176px;
        background-color: pink;
        padding: 15px;
        margin: 15px auto;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      img {
        height: 150px;
        float: left;
        margin-right: 15px;
      }
      p {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>
        <img src="cat.PNG" alt="" />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsa
        reprehenderit accusantium! Consequuntur fugit distinctio enim hic. Totam
        impedit, quam necessitatibus voluptate est minima neque ipsa, nulla eum
        non quae!
      </p>
    </div>
  </body>
</html>
