<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>Brand Name</header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Portfolio</a>
      <a href="#">Blog</a>
      <a href="#">Gallry</a>
      <a href="#">About</a>
      <a href="#">contact</a>
    </nav>

    <main>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>

      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
      <section>
        <h1>Hello World</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
          quisquam facere sequi obcaecati impedit atque eveniet fuga error
          asperiores? Adipisci repellat quo incidunt soluta dicta corporis
          facilis consequuntur possimus atque? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Amet aperiam nobis accusantium
          perferendis officia nostrum tempore, in dolorum eum enim molestiae
          placeat doloribus. Eum, itaque dolore aliquam id earum placeat!
        </p>
      </section>
    </main>
  </body>
</html>
